:root {
    --mdc-theme-primary: #CD1417;
    --mdc-theme-secondary: #FFF;
    // --mdc-theme-background: #333;
}

a {
    color: rgba(0, 0, 0, 0.87);
}

.full-width {
    width: 100%;
}

.field-margin {
    margin-top: 16px;
    margin-bottom: 8px;
}

.mdc-textfield-helptext.mdc-textfield-helptext--validation-msg {
    min-height: 13px;
}

.box-title {
    margin-top: 0;
}

.divider {
    display: flex;
    &::before, &::after {
        content: "";
        width: 50%;
        border-bottom: 1px solid rgba(0,0,0, 0.12);
        margin-bottom: 8px;
    }
    &::before {
        margin-right: 10px;
    }
    &::after {
        margin-left: 10px;
    }
}

.fs.mdc-toolbar {
    background-color: var(--mdc-theme-secondary);
    a.mdc-button:not(.mdc-button--raised) {
        color: #000;
        &:before {
            background-color: transparent;
        }
    }
    a.mdc-button.mdc-button--raised:last-child {
        margin: 0 24px 0 16px;
    }
}

.auth-button-grid {
    padding-left: 0;
    padding-right: 0;
    .mdc-button.facebook {
        background-color: #3B5998;
    }
    .mdc-button.google {
        background-color: #dd4b39;
    }
}