.site-index .widget-signup .mdc-layout-grid {
  max-width: 480px; }

.site-signup,
.site-login {
  padding: 40px 0; }
  .site-signup .mdc-layout-grid,
  .site-login .mdc-layout-grid {
    max-width: 480px; }
  .site-signup .box-title,
  .site-login .box-title {
    margin-top: 0; }

/*# sourceMappingURL=site.css.map */
