.site-index {
    .widget-signup {
        .mdc-layout-grid {
            max-width: 480px;
        }
    }
}

.site-signup,
.site-login {
    padding: 40px 0;
    .mdc-layout-grid {
        max-width: 480px;
    }
    .box-title {
        margin-top: 0;
    }
}